@import url(https://fonts.googleapis.com/css?family=Lora);
body {
  margin:0;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("https://img09.rl0.ru/afisha/1808x1016q65i/s2.afisha.ru/upload/3740269/KlRRCYDsZpZYFuzfIZW2whK204afVtMsQjQBWVpqMnM.jpg");
}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
.menu {
  border-radius: 5px;
  position: sticky;
  top: 0;
}

.header-h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-bottom: .5rem;
}
.header-h1 h1 {
  display: inline-block;
  position: relative;
  background: #f7e0cb;
  color: #361b09;
  margin-bottom: 0;
  padding: .5rem 3rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%);
}

@import url(https://fonts.googleapis.com/css?family=Lora);
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
.menu ul {
  border-radius: 5px;
  font-family: 'Marck Script', sans-serif;
  font-size: 20px;
  background-clip: content-box;
  background-color: rgba(38, 63, 63, .7);
  margin: 0;
  padding: 0;
}
.menu ul li {
  border-radius: 5px;
  list-style: none;
  border-bottom: 1px solid #243047;
  margin: -1px 0;
  transition: 0.5s all linear;
}
.menu ul li a {
  padding: 1em;
  display: block;
  border-right: 1px solid #243047;
  text-decoration: none;
  color: #f7e0cb;
}
.menu ul li a span {
  position: relative;
  display: inline-block;
}
.menu a:hover {
  border-radius: 5px;
  background-clip: border-box;
  background-color: #2F4F4F;
}

.six {
  padding: 50px 20px;
  text-align: center;
  position: absolute;
  top: 0;
  margin-left: 33.5%;
}
.six h1 {
  font-weight: normal;
  font-family: 'Merriweather', serif;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  color: #f7e0cb;
  font-size: 40px;
  padding: .4em 1em .55em;
}
.six h1:before,
.six h1:after {
  content: "";
  position: absolute;
  width: 60%;
  height: .1em;
  background: #F7844E;
}
.six h1:before {
  left: 0;
  top: 0;
}
.six h1:after {
  right: 0;
  bottom: 0;
}
.six h1 span:before,
.six h1 span:after {
  content: "";
  position: absolute;
  width: .65em;
  height: .65em;
  border: .1em solid #F7844E;
  border-radius: 50%;
  box-sizing: border-box;
}
.six h1 span:before {
  top: -.55em;
  left: -.325em;
}
.six h1 span:after {
  bottom: -.55em;
  right: -.325em;
}
@media (max-width: 600px) {
  .six h1 {font-size: 2em;}
}
@media (max-width: 450px) {
  .six h1 {font-size: 1.5em;}
}
.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.row {}
.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}
.col-menu {
  width: 18%;
  float: left;
  position: fixed;
}
.col-main {
  margin-top: 180px;
  margin-left: 25%;
  width: 50%;
  float: left;
}
.col-right {
  margin-top: 180px;
  margin-right: 20px;
  width: 20%;
  float: right;
}

@import url(http://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Palatino);
.main-table {
  border-spacing: 0 20px;
  font-family: 'Fredericka the Great', cursive;
  margin: auto;
  align: center;
  width: 100%;
}
.perf {
  font-family: 'URW Palladio L', cursive;
  font-size: 30px;
  color: #361b09;
}
.th {
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
  color: darkslategray;
}
.dt {
  font-family: 'TeX Gyre Schola', serif;
  font-size: 20px;
  color: darkslategray;
}
.main-table tr {
  padding-top: 20px;
  padding: 20px 20px;
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
  border-left: 10px solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
     2px 2px 5px 0 rgba(0,0,0,.1),
     -2px 2px 5px 0 rgba(0,0,0,.1);
  border-top: 2px solid #56433D;
  border-bottom: 2px solid #56433D;
  border-right: 2px solid #56433D;
  border-radius: 5px;
}
.many td {
  background-clip: content-box;
  background-color: #f7e0cb;
}
.many td:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 10px;
  border-right: none;
}
.many td:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
  border-right: 10px;
}
.one td {
   background-clip: content-box;
   background-color: #f7e0cb;
   border-radius: 5px;
   border: 10px;
 }

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.button-table {
  border-spacing: 0 20px;
  border: none;
  font-family: 'Fredericka the Great', cursive;
  margin: auto;
  align: center;
}
 .double-border-button-left {
   background-color: rgba(38, 63, 63, .7);
   text-decoration: none;
   display: inline-block;
   margin: 10px 20px;
   padding: 10px 30px;
   position: relative;
   border: 2px solid #f7e0cb;
   color: #f7e0cb;
   font-family: 'Montserrat', sans-serif;
   transition: .4s;
 }
 .double-border-button-left:after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   margin: auto;
   border: 2px solid rgba(0, 0, 0, 0);
   transition: .4s;
 }
 .double-border-button-left:hover:after {
   border-color: #f7e0cb;
   width: calc(100% - 10px);
   height: calc(100% + 10px);
 }

 .double-border-button-right {
    right: 0;
    background-color: rgba(38, 63, 63, .7);
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f7e0cb;
    color: #f7e0cb;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
  }
  .double-border-button-right:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
  }
  .double-border-button-right:hover:after {
    border-color: #f7e0cb;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
  }